@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@1,100;1,200&display=swap");

$light: #ffffff;
$dark: #3a3a3a;
$darknav: #282828;

* {
  margin: 0;
  padding: 0;
  font-family: "Overpass", sans-serif;
}

.flex {
  display: flex;
}

.sidebar {
  width: 20rem;
  height: calc(100vh - 52px);
  border-right: 1px solid $dark;
  background-color: $darknav;
  color: $light;
  ul {
    list-style: none;
    padding: 1rem 2rem;
    li {
      margin-bottom: 1rem;
      border-bottom: 1px solid $light;
      a {
        text-decoration: none;
        color: $light;
        font-size: 1.3rem;
        &.active {
          background-color: #555555;
          padding: 0.3rem;
        }
      }
    }
    li:hover {
      background-color: #555555;
      padding: 0rem;
      a {
        font-size: 1.4rem;
      }
    }
  }
  .box {
    height: 7rem;
  }
  .custom-bg-dark {
    background-color: #1c1c1c; /* Cambia este valor al color oscuro deseado */
  }
  .card-view {
    background-color: $darknav;
  }
  .user-photo img {
    width: 7rem;
  }
}
