body{
    padding: 0;
    margin: 0;
}

$light: #ffffff;
$dark: #3A3A3A;
$darknav: #282828;


.navbarr{
    display: flex;
    justify-content: space-between;
    height: 52px;
    background-color: $light;
    text-align: center;
    border-bottom: 1px solid grey;
}

.navbarr .label{
    width: 20rem;
    height: 50px;
    background-color: $darknav;
    color: $light;
}

.navbarr .right .img img{
    margin-right: 1rem;
    width: 100px;
}

.right{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.navbar-menu{
    visibility: hidden;
}
@media screen and (max-width: 1300px) {
    .navbarr .label{
    width: 14.3rem;
}
.navbar-menu{
    visibility:visible;
    padding-right: 1rem;
}
}